  body {
    padding-left: 25%;
    padding-right: 25%;
    max-width: 40rem;
    min-width: 60rem;
  }

  h1 {
    margin-left: 0rem !important;
    color: rgb(58, 58, 58) !important;
  }

  a {
    color: rgb(58, 58, 58) !important;
    text-decoration:none !important;
    font-weight: bolder;
  }
